<div class="row">
  <%= form_for @team, url: { action: local_variables[:action] } do |f| %>
    <%= f.text_field :title %>
    <%= f.file_field :logo %>
    <%= f.submit 'Submit' %>
  <% end %>
</div>